html {
    font-size: 62.5%;;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

.navBarTop{
    height: 200px;
    width: 100%;
    max-width: 100%;
}

.navBarTop a{
    padding: 1%;
    text-decoration: none;
    border-radius: 10%;
    display: inline-block;
    width: 0 auto;
    height: 40px;
    text-align: center;
}

.naveBarTop a:hover {
    background-color: aliceblue;
    color: black;
}

body {
    font-size: 1.5rem;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get {
    background-color: #FFCD69;
}

.topImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0 auto;
}

.title {
    max-width: 50%;
    display: inline-block;
}

.photo {
    display:inline-block;
    margin: 0;
}


#footerBody {
    text-align: center;
}

#footerBody img {
    height: 15%;
    width: 15%;
}

.footerPic {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height:300px;
    margin-top: 10%;
    object-fit: cover;
}

.navBarBottom a{
    padding: 1%;
    text-decoration: none;
    border-radius: 10%;
    display: inline-block;
    width: 0 auto;
    height: 40px;
}

.navBarBottom {
    width: 100%;
    max-width: 100%;
    text-align: center;
}